/* Sections
=============================================== */
header {
	background-image: url('../images/homebgx1.jpg');
	background-size: cover;
	p {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 2px;
	}
}

#portfolio {
	background: $portfolio-bg-color;
}
#about {
	background: $about-bg-color;
}
#contact {
	background: $contact-bg-color;
}
