/* Custom Variables
=============================================== */

$portfolio-bg-color: #FFE919;
$about-bg-color: #14ADCC;
$contact-bg-color: #B21253;


/* Bootstrap Variable Overrides
=============================================== */

// Colors
$font-family-sans-serif: Montserrat, Helvetica, Arial, sans-serif;
$link-hover-color: #18bc9c;
$headings-font-family: "Amatic SC", cursive;
$headings-font-weight: 700;
$font-size-base: 16px;
$navbar-default-bg: #000;
$navbar-default-brand-color: #e7e7e7;


/* Bootstrap
=============================================== */
@import "bootstrap";


/* Custom Styles
=============================================== */
@import "base";
@import "modules";
@import "sections";
