@import 'freelancer';

$font-stack: Helvetica, Arial, sans-serif;

body {
	font-family: $font-stack;
}

.navbar-jmo {
	background-color: #000;
}

.navbar-default .navbar-brand {
color: #e7e7e7;
}

header {
	background: #fff;
	color: #333333;
}

#portfolio {
	background: #FFE919;
}

#about {
	background: #14ADCC;
}

#contact {
	background: #B21253;
}

footer .footer-above {
padding-top: 50px;
background-color: #30687C;
}